.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    padding: 1.5rem;
    border-radius: 8px;

    background: white;

    box-shadow: 0 8px 12px -4px #00000033;

    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 4rem;
        height: 4rem;
        background-color: var(--color-variable-primary);
        border-radius: 8px;


        svg {
            color: white;
        }
    }

    h3 {
        margin-bottom: 1rem;
        font-size: 1.15rem;
        line-height: 1.75rem;
        font-weight: 600;
    }

    p {
        margin-bottom: 1rem;
        font-size: 0.875rem;
        line-height: 1.6;
        color: var(--color-tercery);
    }

    .button_services {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-variable-primary);
        border: none;
        border-radius: 5px;
        width: 80%;
        height: 2rem;
        color: white;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.3s;
        font-size: 0.90rem;

        &:hover {
            background-color: var(--color-primary);
        }
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px -6px rgba(0, 0, 0, 0.25);
}