.footer_container {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #111827;
    text-align: center;
    color: white;
}