.badge {
    color: #003737;
    background-color: #ccf7f7;
    font-size: 0.85rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 9999px;
    display: inline-flex;
    margin-bottom: 1.5rem;
    align-items: center;
}