:root {
  --background-primary: #FCFDFD;
  --color-primary: #003737;
  --color-secodary: #111827;
  --color-tercery: #4B5563;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif, Arial;
}

a {
  color: inherit;
  text-decoration: none;
}