@import "tailwindcss";

:root {
  --background-primary: #FCFDFD;
  --color-primary: #003737;
  --color-secodary: #111827;
  --color-tercery: #4B5563;
  --color-variable-primary: #006a6a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: #f9fafb;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 { font-weight: 700; }

a {
  color: inherit;
  text-decoration: none;
}
